<mat-toolbar class="top-toolbar">
    <mat-toolbar-row>
      <mat-icon aria-hidden="false" (click)="sidenav.toggle()"  aria-label="Menu Icon">menu</mat-icon>
      <span>Basic App</span>
      <mat-icon aria-hidden="false" [matMenuTriggerFor]="appMenu" aria-label="Menu Icon">notifications</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
</mat-menu>
<mat-sidenav-container class="main-nav">
    <mat-sidenav #sidenav mode="side">
        <mat-list>
            <mat-list-item *ngFor="let item of menuList, let i = index" (click)="menuNavigate(item, i)"> {{ item.name }} </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
